.box{
  width: 200px;
  height: 200px;
  background-color: red;
  border: 8px solid white;
}

.circle{
  width: 200px;
  height: 200px;
  background-color: darkblue;
  border: 8px solid white;
  border-radius: 50%;
}